/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

/* , 'Roboto' 'Roboto Condensed',  */
*{
  font-family: neue-haas-grotesk-text, dnp-shuei-gothic-kin-std, europa, brix-slab,  sans-serif;
  font-weight: 400;
  
}

h1{
  font-family: adobe-handwriting-frank;
}

h2, h3, h4, h5, h6, dt, span.resume-date, .nav-link, .header{
  font-family:  neue-haas-grotesk-display, brix-slab, fot-rodin-pron;
}

p, dd, li{
  color: #808080;
  text-align: justify;
}

@media only screen and (max-width: 576px) {
  p, dd, li, span{
    font-size: 0.9rem;
    text-align: start;
  }

}

.carousel-control-next, .carousel-control-prev{
  bottom: 40px;
}
.carousel-indicators{
  bottom: -40px;
}

.carousel-indicators li{
  width: 10px;
  height: 10px;
  background-color: #808080;
  opacity: 0.1;
}