/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


*{
  font-family: dnp-shuei-gothic-kin-std, 'Ubuntu', bebas-neue-pro-semiexpanded, a-otf-ud-shin-go-pr6n,sans-serif;
  font-weight: 400;
}

h1{
  font-family: adobe-handwriting-frank;
}

p, dd, li{
  color: #808080;
  text-align: justify;
}

@media only screen and (max-width: 576px) {
  p, dd, li, span{
    font-size: 0.9rem;
    text-align: start;
  }
}